.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  grid-gap: 2vw;
  margin: 0 auto;
  place-content: center;
  padding-top: 3%;
  width: 85%;
}
@media (max-width: 2700px) {
  .container {
    grid-template-columns: repeat(auto-fit, minmax(700px, 1fr));
  }
}
@media (max-width: 1900px) {
  .container {
    width: 90%;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  }
}
@media (max-width: 700px) {
  .container {
    grid-gap: 8vw;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  }
}
@media (max-width: 500px) {
  .container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
.container__spend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3vw;
  width: 100%;
  padding: 6%;
  box-shadow: -1px 4px 9px 0px rgba(128, 128, 128, 0.75);
  -webkit-box-shadow: -1px 4px 9px 0px rgba(128, 128, 128, 0.75);
  -moz-box-shadow: -1px 4px 9px 0px rgba(128, 128, 128, 0.75);
  border-radius: 15px;
}
@media (max-width: 700px) {
  .container__spend {
    gap: 5vw;
  }
}
.container__title {
  font-size: 24px;
  font-weight: 600;
}
@media (max-width: 700px) {
  .container__title {
    font-size: 4.1vw;
  }
}
.container__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  gap: 3vw;
}
@media (max-width: 700px) {
  .container__element {
    gap: 12vw;
    overflow: scroll;
  }
  .container__element div:nth-child(1) {
    padding-top: 2%;
  }
}
.container__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1vw;
}
@media (max-width: 700px) {
  .container__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.container__image {
  width: 45%;
}
@media (max-width: 700px) {
  .container__image {
    width: 35%;
  }
}
.container__image img {
  width: 100%;
  height: 100%;
}
.container__subtitle {
  font-size: 16px;
  text-decoration: none;
  font-weight: 600;
  color: #040306;
}
@media (max-width: 700px) {
  .container__subtitle {
    font-size: 3.33vw;
  }
}
.container__information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1vw;
  width: 100%;
  padding: 6%;
  box-shadow: -1px 4px 9px 0px rgba(128, 128, 128, 0.75);
  -webkit-box-shadow: -1px 4px 9px 0px rgba(128, 128, 128, 0.75);
  -moz-box-shadow: -1px 4px 9px 0px rgba(128, 128, 128, 0.75);
  border-radius: 15px;
}
@media (max-width: 700px) {
  .container__information {
    gap: 3vw;
  }
}
.container__image2 {
  width: 100%;
  position: relative;
  overflow: hidden;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.container__image2 img {
  width: 100%;
  height: 100%;
}
.container__img {
  width: 100%;
  height: 100%;
}
@media (max-width: 700px) {
  .container__img {
    display: none;
  }
}
.container__img2 {
  width: 100%;
  height: 100%;
  display: none;
}
@media (max-width: 700px) {
  .container__img2 {
    display: block;
  }
}
.container__lines {
  width: 20%;
  position: absolute;
  top: 0%;
  right: 0%;
  z-index: 1;
}
@media (max-width: 700px) {
  .container__lines {
    width: 35%;
    right: -17.5%;
    top: -5%;
  }
}
.container__lines img {
  width: 100%;
  height: 100%;
}
.container__button {
  font-size: 16px;
  font-weight: 400;
  color: #fff4d5;
  width: 38%;
  padding: 1.8%;
  border-radius: 40px;
  margin: 0 auto;
  margin-top: 2%;
  background: #694db0;
  background: -webkit-gradient(linear, left top, right top, from(rgb(105, 77, 176)), color-stop(50%, rgb(130, 95, 219)), to(rgb(105, 77, 176)));
  background: linear-gradient(90deg, rgb(105, 77, 176) 0%, rgb(130, 95, 219) 50%, rgb(105, 77, 176) 100%);
}
@media (max-width: 700px) {
  .container__button {
    font-size: 3.53vw;
    padding: 1.5%;
    width: 70%;
  }
}