@import "../styles/variables";

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  &__container {
    display: flex;
    align-items: center;
    width: 100%;
    padding-top: 13%;
    padding-bottom: 7%;

    @media (max-width: 700px) {
      flex-direction: column;
      justify-content: center;
      padding-top: 33%;
      gap: 8vw;
    }
  }

  &__titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vw;
  }

  &__title {
    font-size: 3.33vw;
    font-weight: bold;
    width: 70%;
    text-align: center;
    line-height: 120%;

    @media (max-width: 700px) {
      font-size: 8.21vw;
      width: 90%;
    }
  }

  &__button {
    width: 40%;
    padding: 1%;
    background: $color-purple;
    background: linear-gradient(
      90deg,
      rgba(105, 77, 176, 1) 0%,
      rgba(130, 95, 219, 1) 50%,
      rgba(105, 77, 176, 1) 100%
    );
    border-radius: 40px;
    font-size: 1.04vw;
    font-weight: 400;
    color: $color-beige;

    @media (max-width: 700px) {
      display: none;
    }
  }

  &__image {
    width: 35%;
    margin-left: -3%;

    @media (max-width: 700px) {
      display: none;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__moblogin {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 90%;
    gap: 23vw;
    position: relative;
    background: $color-dark-blue;
    padding: 4.5% 1%;
    background: linear-gradient(
      90deg,
      $color-dark-blue 27%,
      $color-blackish 100%
    );
    border-radius: 8px;
    overflow: hidden;

    @media (max-width: 700px) {
      display: flex;
    }
  }

  &__mobunion {
    width: 15%;
    z-index: 2;
    transform: translateY(10%) translateX(240%);

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__backgroundmob {
    width: 75%;
    position: absolute;
    top: 0%;
    right: 0%;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__login {
    width: 90%;
    z-index: 2;
    background: $color-purple;
    background: linear-gradient(
      90deg,
      rgba(105, 77, 176, 1) 0%,
      rgba(130, 95, 219, 1) 50%,
      rgba(105, 77, 176, 1) 100%
    );
    border-radius: 40px;
    font-size: 3.1vw;
    font-weight: 400;
    padding: 2%;
    color: $color-beige;
  }

  &__container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5vw;
    width: 65%;
    padding-top: 13%;
    padding-bottom: 4%;

    @media (max-width: 1000px) {
      width: 68%;
      padding-top: 33%;
    }

    @media (max-width: 880px) {
      flex-direction: column;
      width: 100%;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    gap: 2vw;
    position: relative;
    background: $color-dark-blue;
    padding: 3%;
    border-radius: 16px;
    width: 90%;
    overflow: hidden;
    background: linear-gradient(
      90deg,
      $color-dark-blue 27%,
      $color-blackish 100%
    );
    box-shadow: inset 0px 0px 24px 4px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: inset 0px 0px 24px 4px rgba(0, 0, 0, 0.5);
  }

  &__background {
    width: 76%;
    position: absolute;
    z-index: 1;
    top: -3%;
    right: 0%;

    @media (max-width: 1500px) {
      width: 105%;
    }

    @media (max-width: 700px) {
      width: 85%;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__union {
    width: 11%;
    position: absolute;
    right: 8%;
    top: 23%;
    z-index: 2;

    @media (max-width: 700px) {
      width: 15%;
      top: 15%;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__information {
    display: flex;
    align-items: center;
    gap: 4vw;
    z-index: 2;
  }

  &__ID {
    display: flex;
    flex-direction: column;
    gap: 1vw;
  }

  &__title2 {
    font-size: 16px;
    font-weight: 400;
    color: $color-beige2;

    @media (max-width: 880px) {
      font-size: 3.08vw;
    }
  }

  &__subtitle {
    font-size: 20px;
    color: $color-beige;
    font-weight: bold;

    @media (max-width: 880px) {
      font-size: 3.59vw;
    }
  }

  &__balance {
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    background-color: rgba(255, 255, 255, 0.1);
    padding: 3%;
    padding-bottom: 2.5%;
    width: 40%;
    border-radius: 5px;
    border: 0.1px solid #808080;
    z-index: 2;

    @media (max-width: 880px) {
      width: 50%;
    }
  }

  &__balance_title {
    font-size: 16px;
    color: $color-beige2;

    @media (max-width: 880px) {
      font-size: 3.08vw;
    }
  }

  &__number {
    display: flex;
    align-items: center;
    gap: 1vw;

    @media (max-width: 880px) {
      gap: 3vw;
    }
  }

  &__item {
    font-size: 2.18vw;
    font-weight: bold;
    color: $color-beige;

    @media (max-width: 880px) {
      font-size: 7.21vw;
      white-space: nowrap;
      width: 45%;
    }
  }

  &__coin {
    width: 20%;

    @media (max-width: 880px) {
      width: 25%;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__name {
    font-size: 1.04vw;
    font-weight: bold;
    color: #fff;
    transform: translateY(110%);
    z-index: 2;

    @media (max-width: 880px) {
      font-size: 4.1vw;
      transform: translateY(40%);
    }
  }

  &__element {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    z-index: 2;
  }

  &__number2 {
    display: flex;
    align-items: center;
    font-size: 26px;
    font-weight: 400;
    color: $color-beige;

    @media (max-width: 880px) {
      font-size: 4.1vw;
    }

    span {
      margin-top: -4%;
    }
  }

  &__icon {
    width: 6%;
    margin-left: -3%;

    @media (max-width: 880px) {
      width: 8%;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__qrtitle {
    font-size: 3.08vw;
    color: $color-beige;
    font-weight: 400;
    z-index: 2;
    padding-top: 5%;
    padding-left: 1%;
  }

  &__qrcod {
    width: 35%;
    padding-bottom: 2%;
    z-index: 2;
    padding-left: 2%;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__qrsubtitle {
    font-size: 2.56vw;
    color: $color-beige2;
    font-weight: 300;
    z-index: 2;
    padding-left: 2.5%;
    padding-bottom: 5%;
  }

  &__options {
    display: flex;
    flex-direction: column;
    gap: 3.5vw;
    padding: 30px;
    padding-bottom: 37px;
    padding-top: 40px;
    box-shadow: -1px 4px 9px 0px rgba(128, 128, 128, 0.75);
    -webkit-box-shadow: -1px 4px 9px 0px rgba(128, 128, 128, 0.75);
    -moz-box-shadow: -1px 4px 9px 0px rgba(128, 128, 128, 0.75);
    border-radius: 15px;
    width: 37%;
    height: 100%;

    @media (max-width: 880px) {
      flex-direction: row;
      width: 90%;
      padding: 3%;
      margin-top: 5%;
    }
  }

  &__item2 {
    display: flex;
    align-items: center;
    gap: 2vw;
    width: 100%;

    @media (max-width: 880px) {
      flex-direction: column;
    }
  }

  &__icon2 {
    width: 16%;
    flex-shrink: 0;

    @media (max-width: 1500px) {
      width: 22%;
    }

    @media (max-width: 880px) {
      width: 32%;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__translation {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: $color-black;

    @media (max-width: 880px) {
      font-size: 2.56vw;
    }
  }
}
